.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(184, 38, 37);
  width: 100vw;
  max-width: 1600px;
  height: 50px;
  position: sticky;
  top: 0px;
  z-index: 100;
}

.navList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 50px;
  padding: 0px;
  margin: 0px;
}

.navItem {
  list-style: none;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 0px;
}

.logoLink {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  background-image: url("../../Assets/Logo/white.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 35px;
}

.navLink {
  font-family: din-2014, sans-serif;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  letter-spacing: 0.3px;
  color: white;
  text-decoration: none;
}

.navLink:hover {
  text-decoration: underline;
}

.navLink:visited {
  color: white;
  text-decoration: none;
}

.question {
  font-family: din-2014, sans-serif;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  width: 130px;
  height: 30px;
  border-radius: 5px;
  letter-spacing: 0.3px;
  border: 1px solid #DDDDDD;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}

.logout {
  font-family: din-2014, sans-serif;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 1px;
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
}

#add-question {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  background-color:rgba(184, 38, 37, 1) !important;
  border: 1px solid white;
  text-align: center !important;
  width: 150px !important;
  min-width: 150px;
  height: 40px;
  border-radius: 8px !important;
  cursor: pointer;
  margin-right: 20px;
}

#topics {
  font-family: din-2014;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 1px;
  color: white;
  background-color: rgba(1, 1, 1, 0);
  text-decoration: none;
  margin-right: 20px;
}
